{{- $desc := (.Get "description") -}}
{{- $height := int (default "400" (.Get "height")) -}}
{{- $.Scratch.Add "chartid" 1 -}}
{{- $chartclass := $.Scratch.Get "chartclass" -}}
{{- $chartid := print "chart-" ($.Scratch.Get "chartid") -}}
{{- $chartopts := $.Scratch.Get "chartopts" -}}
{{- $data := $.Scratch.Get "data" -}}
<div class="plandoc-chart" id="{{ $chartid }}" style="height: {{ $height }}px;"></div>
<script type="text/javascript">
  window.addEventListener('load', function() {
    window.chart = new pd.Charts[{{ $chartclass }}]('{{ $chartid }}',
      {{ $data | jsonify | safeJS }},
      {{ $chartopts | jsonify | safeJS }});
  });
</script>
