<div class="usa-width-one-half usa-media_block">
  <a href="{{ .URL | relURL }}">
    {{ $image := .Resources.GetByPrefix "banner" }}
    {{ if $image }}
    {{ $thumbnail := $image.Fill "124x124 Center" }}
    <img class="usa-media_block-img plandoc-rounded-thumbnail" src="{{ $thumbnail.RelPermalink }}" aria-hidden="true">
    {{ else }}
    <img class="usa-media_block-img" src="{{ "/img/circle-124.png" | relURL }}" aria-hidden="true">
    {{ end }}
  </a>
  <div class="usa-media_block-body">
      <h3>{{ .Title }}</h3>
      {{ if or .Params.abstract .Summary }}
      <p>{{ (default .Params.abstract .Summary) | htmlEscape }}</p>
      {{ end }}
      <p>
        <a href="{{ .URL | relURL }}">
          Learn more
          <span class="usa-sr-only"> about {{ .Title }}</span>
        </a>
      </p>
  </div>
</div>
