@import 'variables.scss';
@import 'node_modules/uswds/src/stylesheets/uswds.scss';

.plandoc-footer-logo img {
  height: 120px;
}

.plandoc-rounded-thumbnail {
  border-radius: 50%;
}

.usa-header {
  position: -webkit-sticky;
  position: sticky;
  top: -93px;
  &:before,
  &:after {
    content: '';
    display: table;
  }
}

.usa-media_block-body p {
  font-size: 90%;
}
