/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings

@import 'uswds-theme-general';
@import 'uswds-theme-typography';
@import 'uswds-theme-spacing';
@import 'uswds-theme-color';
@import 'uswds-theme-utilities';

// -------------------------------------
// Import individual USWDS modules...

// @import 'uswds-fonts';
// @import 'uswds-layout-grid';
// @import 'uswds-components';
// @import 'uswds-utilities';

// -------------------------------------
// ...or import all USWDS modules

@import 'uswds';

// -------------------------------------
// Import theme custom styles

@import 'uswds-theme-custom-styles';

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.plandoc-footer-logo img {
  height: 80px;
}

.plandoc-rounded-thumbnail {
  border-radius: 50%;
}

figure.plandoc-image {
  margin: 1em 0;
  @include at-media('tablet') {
    &.plandoc-image-left {
      clear: both;
      float: left;
      margin-right: 1em;
      width: 50%;
    }
    &.plandoc-image-right {
      clear: both;
      float: right;
      margin-left: 1em;
      width: 50%;
    }
  }
  .plandoc-image-caption {
    font-size: 80%;
  }
  .plandoc-image-attr {
    font-size: 80%;
    font-style: italic;
  }
}

.usa-header {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: -95px;
  &:before,
  &:after {
    content: '';
    display: table;
  }
}

@include at-media('desktop') {
  .usa-header {
    border-bottom: 1px solid #dbdee1;
  }
  .usa-header + .usa-section,
  .usa-header + main {
    border-top: 0 none transparent;
  }
}

p,
.usa-prose p {
  max-width: 100%;
}

@include at-media('desktop') {
  aside.usa-layout-docs-sidenav nav {
    position: -webkit-sticky;
    position: sticky;
    top: 46px;
    &:before,
    &:after {
      content: '';
      display: table;
    }
  }
}

.plandoc-image-expander,
.plandoc-overlay {
  display: none;
}

@include at-media('tablet') {
  .plandoc-overlay {
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    figure.plandoc-image {
      display: inline-block;
      float: none;
      margin: 0 auto;
      max-width: 80%;
      width: auto;
    }
    figcaption {
      margin-top: 0.25em;
    }
    a {
      color: color($theme-color-accent-cool-light);
    }
  }
  .plandoc-image-wrapper {
    text-align: right;
    position: relative;
    img {
      display: block;
      max-height: 80vh;
    }
  }
  .plandoc-image-expander {
    background-color: color($theme-color-primary);
    border: 0 none transparent;
    bottom: 0;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    ion-icon {
      font-size: 24px;
    }
  }
}
