{{ partial "load_table_data.html" . -}}
{{- with (.Get "grid-lines") -}}{{- $.Scratch.SetInMap "chartopts" "gridLines" (eq . "true") -}}{{- end -}}
{{- with (.Get "legend") -}}{{- $.Scratch.SetInMap "chartopts" "legend" . -}}{{- end -}}
{{- with (.Get "legend-alignment") -}}{{- $.Scratch.SetInMap "chartopts" "legendAlignment" . -}}{{- end -}}
{{- with (.Get "legend-row-width") -}}{{- $.Scratch.SetInMap "chartopts" "legendRowWidth" (int .) -}}{{- end -}}
{{- with (.Get "title") -}}{{- $.Scratch.SetInMap "chartopts" "title" . -}}{{- end -}}
{{- with (.Get "xangle") -}}{{- $.Scratch.SetInMap "chartopts" "xAngle" (int .) -}}{{- end -}}
{{- with (.Get "xlabel") -}}{{- $.Scratch.SetInMap "chartopts" "xLabel" . -}}{{- end -}}
{{- with (.Get "yangle") -}}{{- $.Scratch.SetInMap "chartopts" "yAngle" (int .) -}}{{- end -}}
{{- with (.Get "ylabel") -}}{{- $.Scratch.SetInMap "chartopts" "yLabel" . -}}{{- end -}}
{{- $desc := (.Get "description") -}}
{{- $data := $.Scratch.Get "data" -}}
{{- $height := int (default "400" (.Get "height")) -}}
{{- $chartopts := $.Scratch.Get "chartopts" -}}
{{- $.Scratch.Add "chartid" 1 -}}
{{- $chartid := print "chart-" ($.Scratch.Get "chartid") -}}
<div class="plandoc-chart" id="{{ $chartid }}" style="height: {{ $height }}px;"></div>
<script type="text/javascript">
  window.addEventListener('load', function() {
    new pd.Chart('{{ $chartid }}',
      {{ $data | jsonify | safeJS }},
      {{ $chartopts | jsonify | safeJS }});
  });
</script>
