{{ partial "load_table_data.html" . }}
{{- $title := (.Get "title") }}
{{- $desc := (.Get "description") }}
{{- $source := (.Get "source") }}
{{- $notes := (.Get "notes") }}
{{- $md := eq (.Get "markdown") "true" -}}
{{- $head := int (default "1" (.Get "header")) }}
{{- $foot := int (default "0" (.Get "footer")) }}
{{- $data := $.Scratch.Get "data" }}
{{- $head_start := cond (gt $head 0) 1 0 }}
{{- $head_end := $head }}
{{- $body_start := add $head_end 1 }}
{{- $body_end := sub (len $data) $foot }}
{{- $foot_start := add $body_end 1 }}
{{- $foot_end := cond (gt $foot 0) (len $data) 0 }}
<div class="plandoc-table-scroll">
<table class="plandoc-table">
  {{- if or $title $desc }}
  <caption>
    {{ if $title }}<span class="plandoc-table-title">{{ $title }}</span>{{ end }}
    {{ if $desc }}<span class="plandoc-table-description">{{ $desc }}</span>{{ end }}
  </caption>
  {{- end }}
  {{ range $i, $r := $data }}
  {{- $row := add $i 1 -}}
  {{- $tag := cond (and (gt $head 0) (lt $row (add $head 1))) "th" "td" -}}
  {{ if eq $row $head_start -}}<thead>{{- end -}}
  {{- if eq $row $body_start -}}<tbody>{{- end -}}
  {{- if eq $row $foot_start -}}<tfoot>{{- end }}
    <tr>
      {{- range . }}
      {{ printf "<%s>" $tag | safeHTML }}
        {{- if $md -}}{{- . | markdownify -}}{{- else -}}{{- . -}}{{- end -}}
      {{ printf "</%s>" $tag | safeHTML }}
      {{- end }}
    </tr>
  {{ if eq $row $head_end -}}</thead>{{- end -}}
  {{- if eq $row $body_end -}}</tbody>{{- end -}}
  {{- if eq $row $foot_end -}}</tfoot>{{- end }}
  {{- end }}
</table>
{{- if or $source $notes }}
<div class="plandoc-table-extra">
  {{ with $source -}}
    <p class="plandoc-table-data-source">{{ print "**Source:** " . | markdownify }}</p>
  {{- end }}
  {{ with $notes -}}
    <p class="plandoc-table-notes">{{ print "**Notes:** " . | markdownify }}</p>
  {{- end }}
</div>
{{- end }}
</div>
